* {
	padding: 0;
	margin: 0;
	border: none;
	box-sizing: border-box;
}

html, body {
	height: 100vh;
	font-family: sans-serif;
}

#root {
	width: 90%;
	max-width: 700px;
	height: 100%;
	margin: 0 auto;
	padding: 10px 20px;
}

.App {
	height: 100%;
}

header {
	margin-top: 20px;
	text-align: center;
}

#projects-container {
	/*height: calc(100% - 80px);*/
	margin-top: 20px;
	padding: 10px; 
	border-radius: 4px;
	background: #efefef;
	box-shadow: inset 2px 2px 4px #ccc;
}

#projects-container ol {
	margin-left: -10px;
}

#projects-container ol li {
	padding-left: 10px;
}

.project-node {
	position: relative;
	margin-bottom: 14px;
	padding: 10px;
	border-radius: 4px;
	box-shadow: 2px 2px 4px #666;
	cursor: pointer;
	transition: all 400ms;
}

.project-node:hover {
	box-shadow: 4px 4px 4px #666;
}

.project-node i.fas {
	position: absolute;
	right: 10px;
}

