* {
	padding: 0;
	margin: 0;
	border: none;
	box-sizing: border-box;
}

html, body {
	height: 100vh;
	background: #ccc;
	font-family: sans-serif;
}

#root {
	width: 90%;
	max-width: 700px;
	height: 100%;
	margin: 0 auto;
	padding: 10px 20px;
	background: #fff;
}

.App {
	height: 100%;
}

header {
	text-align: center;
}

#projects-container {
	height: calc(100% - 80px);
	margin-top: 40px;
	padding: 10px; 
	border-radius: 4px;
	background: #efefef;
	box-shadow: inset 2px 2px 4px #ccc;
}

.project-node {
	margin-bottom: 14px;
	padding: 10px;
	border-radius: 4px;
	background: #3a609e;
	box-shadow: 2px 2px 4px #666;
	color: #fff;
	cursor: pointer;
}

.project-node:hover {
	color: #000;
	background: #6194e8;
}